---
import { Image } from "astro:assets";
import backbone from "../img/loghi/backbone.png";
import ember from "../img/loghi/ember.png";
import jquery from "../img/loghi/jquery.png";
import qwik from "../img/loghi/qwik.webp";
import react from "../img/loghi/react.png";
import solid from "../img/loghi/solid.png";
import svelte from "../img/loghi/svelte.png";
import vue from "../img/loghi/vue.webp";
---

<p-slide autoplay timing="1500" timing-fragment="500">
  <h3 style="margin: 0" class="cover-internal-sub-section-all">
    Frameworks come and go
  </h3>
  <h3
    style="margin: 0; margin-block-start: 2rem;"
    class="cover-internal-sub-section-all"
  >
    BUT your Design System should stay!
  </h3>
  <div class="js-logo">
    <p-fragment
      ><Image
        src={backbone}
        alt="javascript logo"
        class="alter-image-size"
      /></p-fragment
    >
    <p-fragment
      ><Image
        src={ember}
        alt="javascript logo"
        class="alter-image-size"
      /></p-fragment
    >
    <p-fragment
      ><Image
        src={jquery}
        alt="javascript logo"
        class="alter-image-size"
      /></p-fragment
    >
    <p-fragment
      ><Image
        src={qwik}
        alt="javascript logo"
        class="alter-image-size"
      /></p-fragment
    >
    <p-fragment
      ><Image
        src={react}
        alt="javascript logo"
        class="alter-image-size"
      /></p-fragment
    >
    <p-fragment
      ><Image
        src={solid}
        alt="javascript logo"
        class="alter-image-size"
      /></p-fragment
    >
    <p-fragment
      ><Image
        src={svelte}
        alt="javascript logo"
        class="alter-image-size"
      /></p-fragment
    >
    <p-fragment
      ><Image
        src={vue}
        alt="javascript logo"
        class="alter-image-size"
      /></p-fragment
    >
  </div>
</p-slide>
