---
import { Image } from "astro:assets";
import angularjs from "../img/loghi/angularjs.svg";
import backbone from "../img/loghi/backbone.png";
import ember from "../img/loghi/ember.png";
import jquery from "../img/loghi/jquery.png";
import qwik from "../img/loghi/qwik.webp";
import react from "../img/loghi/react.png";
import solid from "../img/loghi/solid.png";
import svelte from "../img/loghi/svelte.png";
import vue from "../img/loghi/vue.webp";
import angularMascotte from "../img/loghi/angular-mascotte.png";
---

<p-slide autoplay timing="1500" timing-fragment="500">
  <h3 style="margin: 0" class="cover-internal-sub-section-all">
    Frameworks come and go
  </h3>
  <h3
    style="margin: 0; margin-block-start: 2rem;"
    class="cover-internal-sub-section-all"
  >
    BUT your Design System should stay!
  </h3>
  <div>
    <p-fragment
      ><Image
        src={angularjs}
        alt="angularjs logo"
        class="alter-image-size"
      /></p-fragment
    >
    <p-fragment
      ><Image
        src={backbone}
        alt="backbone logo"
        class="alter-image-size"
      /></p-fragment
    >
    <p-fragment
      ><Image
        src={ember}
        alt="ember logo"
        class="alter-image-size"
      /></p-fragment
    >
    <p-fragment
      ><Image
        src={jquery}
        alt="jquery logo"
        class="alter-image-size"
      /></p-fragment
    >
    <p-fragment
      ><Image src={qwik} alt="qwik logo" class="alter-image-size" /></p-fragment
    >
    <p-fragment
      ><Image
        src={react}
        alt="react logo"
        class="alter-image-size"
      /></p-fragment
    >
    <p-fragment
      ><Image
        src={solid}
        alt="solid logo"
        class="alter-image-size"
      /></p-fragment
    >
    <p-fragment
      ><Image
        src={svelte}
        alt="svelte logo"
        class="alter-image-size"
      /></p-fragment
    >
    <p-fragment
      ><Image src={vue} alt="vue logo" class="alter-image-size" /></p-fragment
    >
    <p-fragment
      ><Image
        src={angularMascotte}
        alt="angular logo"
        class="alter-image-size"
      /></p-fragment
    >
  </div>
</p-slide>
<p-slide> Mammone </p-slide>

<style lang="scss">
  p-slide[autoplay] div {
    margin-block-start: 1rem;
    display: flex;
    column-gap: 1rem;

    img {
      --image-start-size: 4em;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
</style>
