---
import favicon from "../img/favicon-itdevcon-32x32.png";
import me2 from "../img/me2.png";
import qrCodeRating from "../img/qrcode_rating_itdevcon.png";
import qrCodeLink from "../img/qrcode_talk_itdevcon.png";
import Layout from "../layouts/Layout.astro";
import Conclusions from "../slides/conclusions.astro";
import CoverItDevcon from "../slides/cover-it-devcon.astro";
import Cover from "../slides/cover.astro";
import CustomElements from "../slides/custom-elements.astro";
import DeepDiveLit from "../slides/deep-dive-lit.astro";
import DesignSystem from "../slides/design-system.astro";
import IntegrationVanilla from "../slides/integration-vanilla.astro";
import Intro from "../slides/intro.astro";
import MeetLit from "../slides/meet-lit.astro";
import ProblemWithFramework from "../slides/problem-with-framework.astro";
import Thanks from "../slides/thanks.astro";
import Webcomponent from "../slides/webcomponent.astro";
const favIcon = favicon.src;
const canRender = import.meta.env.DEV || new Date("2026-05-08") < new Date();
const metaData = {
  title: "Framework-Agnostic Design Systems: Using Lit Web Components",
  description: "Talk di Marco Pollacci",
};
---

<Layout {canRender} {favIcon} {metaData}>
  <CoverItDevcon />
  {
    canRender && (
      <>
        <Cover showGitKraken={false} alternativeMe={me2} />
        <Intro />
        <DesignSystem />
        <ProblemWithFramework />
        <Webcomponent />
        <MeetLit />
        <DeepDiveLit />
        <IntegrationVanilla />
        <CustomElements />
        <Conclusions />
        <p-slide class="center">
          <h1>
            🧑🏻‍💻 <span class="cover-internal-sub-section-all">Demo time!</span> 🧑🏻‍💻
          </h1>
        </p-slide>
        <Thanks
          alternativeMe={me2}
          qrLinkRating={qrCodeRating}
          qrLink={qrCodeLink}
          urlLink="https://talk-framework-agnostic-component-with-lit.pages.dev/itdevcon-2026"
        />
      </>
    )
  }
</Layout>
